<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Информация о заказе</h3>
<table border="1">
    <tr>
        <th>Тип</th>
        <th>Название</th>
        <th>Размер</th>
        <th>Цена</th>
        <th>Состав</th>

    </tr>
    <tr th:each="el:${session.cart}">
        <td th:text="${el.pos_type}"></td>
        <td th:text="${el.title}"></td>
        <td th:text="${el.size}"></td>
        <td th:text="${el.price}"></td>
        <td th:text="${el.composition}"></td>
        <tr/>
    <table/>



    </tr>
</table>

</body>
</html>