<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
    <style>
        body {
            background-image: url("/img/backgr.png");
        }
        p {
            font-family: Bahnschrift;
            font-size: x-large;
        }
        #con1 {
            top: 20%;
            position: absolute;
        }
        b {
            font-family: Bahnschrift;
            color: #a85701;
        }
    </style>
    <div th:insert="pattern/header :: header"></div>
</head>
<body>
<div class="container" id="con1">
    <h1>Корзина</h1>
        <div class="row m-1">
            <div class="col-sm-8">
                <th:block  th:each="item, status:${cartItems}">
                    <div class="row border rounded">
                        <div class="col-1">
                            <div>[[${status.count}]]</div>
                        </div>
                        <div class="col-3">
                            <img th:src="${'/img/'+item.menu.mainImage}" class="img-fluid"/>
                        </div>
                        <div class="col-6">
                            <div>
                                <a th:href="${'/menu/'+ item.menu.id}" target="_blank">
                                    <b>[[${item.menu.title}]]</b>
                                </a>
                            </div>
                                <b>Количество: [[${item.quantity}]]</b>
                            <div>
                                <span>X</span>
                                <span>[[${item.menu.price}]]</span>
                            <div>
                                <span></span><span class="=h4">Итоговая цена = [[${item.quantity}*${item.menu.price}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-1">&nbsp;</div>
                    </div>
                </th:block>
            </div>
            <div class="col-sm-4">
                <div>
                    <span>Ваш заказ верен?</span>
                </div>
                <form method="post">
                    <div class="mt-2">
                        <button type="submit">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
            <div th:if="${#lists.isEmpty(cartItems)}">
                <h3 align="left">Вы ничего не добавили</h3>
            </div>

</div>
</body>
</html>
