<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PizzaHub - самая быстрая доставка по Москве</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="contrainer text-center">
    <div>
        <h3>Регистрация прошла успешно!</h3>
        <h4><a th:href="@{/login}">Нажмите сюда чтобы войти в систему</a></h4>
    </div>
</div>

</body>
</html>