<div th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>

        .navbar {
            background-color: #333;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .navbar__item {
            padding: 14px 16px;
        }

        .navbar__item a {
            font-size: 16px;
            color: #F5E2CD;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .dropdown {
            position: relative;
        }

        .dropdown__main {
            color: #F5E2CD;
        }

        .dropdown__main:hover + .dropdown__items {
            display: block;
        }

        .dropdown__items {
            display: none;
            position: absolute;
        }

        .dropdown__items:hover {
            display: block;
        }

        .dropdown__item {
            padding: 5px;
            margin-top: 2px;
            background: #333;
        }

    </style>

<div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="navbar__item">
        <a href="#">PizzaHub</a>
    </div>
    <div class="navbar__item">
        <a href="/">Главная</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="hasAnyAuthority('User', 'Admin')"  href="/menu">Меню</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="isAnonymous()" href="/login">Войти</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="hasAnyAuthority('User', 'Admin')" href="/logout">Выйти</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="isAnonymous()" href="/sign-up">Регистрация</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="hasAnyAuthority('Admin')" href="/menu/add">Добавить</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="hasAnyAuthority('Admin')" href="/list_users">Список пользователей</a>
    </div>
    <div class="navbar__item">
        <a sec:authorize="hasAnyAuthority('User')" href="/cart">Корзина</a>
    </div>
    <div class="navbar__item">
        <div class="dropdown">
            <div class="dropdown__main">Информация</div>
            <div class="dropdown__items">
                <div class="dropdown__item">
                    <a href="/about">О нас</a>
                </div>
                <div class="dropdown__item">
                    <a href="/contacts">Контакты</a>
                </div>
                <div class="dropdown__item">
                    <a href="/work">Вакансии</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


